main {
  --primary-text-color: #222;
  --secondary-text-color: #757575;
  --primary-background-color: white;
  --secondary-background-color: #efefef;
  --border-color: rgba(0, 0, 0, 0.1);
  --link-color: #e60026;
}

* {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: serif;
  line-height: 1.5;

  width: 100%;
  height: 100%;
}

main {
  width: 100%;
  margin-top: -32px;

  color: var(--primary-text-color);
  background-color: var(--primary-background-color);
}

#frontmatter,
#mainmatter,
#backmatter {
  max-width: 40em;
  margin: 2em auto;
}

article {
  width: 100%;
  padding: 0 0 8em 0;
}

a {
  text-decoration: none;

  color: var(--link-color);

  overflow-wrap: anywhere;
}

a:hover {
  text-decoration: underline;

  text-underline-offset: .09em;
  text-decoration-thickness: from-font;
}

#mainmatter .ref {
  font-size: small;
  font-weight: normal;

  margin-right: 1ex;

  display: none;
}

/*
#mainmatter .sc-main.ref
{
   display:  inline;
}
*/

article {
  position: relative;
}

* + * {
  margin-top: 1em;
}

body,
li,
ol ul,
ol ol,
ul ul,
dl ul,
nav ul,
ol dl,
ul dl,
dd,
dt {
  margin-top: 0;
}

ul,
ol {
  padding-left: 2rem;
}

blockquote {
  margin: 1em 1.5em;
}

#toc li,
.contents li {
  margin: .5em 0;
}

#title-page {
  line-height: 1;

  display: flex;
  flex-direction: column;

  width: 100%;
  height: 100vh;

  text-align: center;

  justify-content: space-between;
  align-content: center;
}

.title-page-main {
  display: flex;
  flex-direction: column;

  height: 80vh;

  justify-content: space-between;
}

.translation_title {
  font-size: 4rem;

  margin-top: 8rem;
}

.translation_subtitle {
  font-size: 1.5em;
  font-style: italic;
}

.author_name {
  font-size: 2em;

  margin-bottom: 8rem;
}

.title-page-foot {
  display: flex;
  flex-direction: row;

  height: 20vh;
  padding: 0 6em;

  color: var(--link-color);

  justify-content: space-between;
  align-items: center;
}

#license {
  padding: 2em;

  border: 1px solid var(--border-color);
  border-radius: 1em;
  background-color: var(--secondary-background-color);
}

nav ul {
  list-style-type: none;
}

header {
  text-align: center;
}

header ul {
  list-style-type: none;
}

h1 {
  font-size: 2rem;

  width: 100%;
  margin-bottom: 1em;

  text-align: center;
}

h2 {
  font-size: 1.5rem;
}

h3 {
  font-size: 1.33rem;
}

h4 {
  font-size: 1.25rem;
}

h5 {
  font-size: 1rem;
}

dd {
  margin-left: 2em;
}

section + section {
  margin-top: 6rem;
}
