@font-face
{
    font-family: 'Source Serif 4 Variable';
    font-weight: 200 900;
    font-style: normal;
    font-stretch: normal;

    src: url('../fonts/SourceSerif4Variable-Roman.ttf') format('truetype');
}

@font-face
{
    font-family: 'Source Serif 4 Variable';
    font-weight: 200 900;
    font-style: italic;
    font-stretch: normal;

    src: url('../fonts/SourceSerif4Variable-Italic.ttf') format('truetype');
}

@font-face
{
    font-family: 'Libre Barcode 128 Text';
    font-weight: 400;
    font-style: normal;

    src: url('../fonts/LibreBarcode128Text-Regular.ttf');
}

*
{
    box-sizing: border-box;
}

:root
{
    font-size: 12px;

    font-variation-settings: 'opsz' 12;

    --huge-font-size:  6rem;
    --large-font-size:  3rem;
    --medium-large-font-size:  2rem;
    --medium-font-size:  1.5rem;

    --large-font-line-height:  1.2;

    --primary-spacing:  1in;
    --secondary-spacing:  .6667in;
    --tertiary-spacing:  .333in;
}

.blue{
    --text-color: #F0F7FB;
    --secondary-text-color:  #9DB4C2;
    --background-color:  #005685;
    --font-weight:  410;
}

 .orange       {
    --text-color: #170F03;
    --secondary-text-color:  #684D25;
    --background-color:  #E48C07;
    --font-weight:  400;
}

.red{
    --text-color: #FCF1ED;
    --secondary-text-color:  #DCBFB5;
    --background-color:  #AF2C00;
    --font-weight:  410;
}

 .white       {
    --text-color: #12110E;
    --secondary-text-color:  #84837F;
    --background-color:  #E4E1CE;
    --font-weight:  400;
}

.yellow{
    --text-color: #1A1607;
    --secondary-text-color:  #665D33;
    --background-color:  #F5D23A;
    --font-weight:  400;
}

 .brown       {
    --text-color: #ECD3CC;
    --secondary-text-color:  #D6AA9F;
    --background-color:  #512115;
    --font-weight:  410;
}

.front-title .translation_title
{
    font-size: var(--huge-font-size);

    font-variation-settings: 'opsz' 72;
}

.front-title .translation_subtitle,
.front-creator .creator_name,
.volume-details .volume_acronym
{
    font-size: var(--large-font-size);

    font-variation-settings: 'opsz' 36;
}

.spine-middle
{
    font-size: var(--medium-large-font-size);

    font-variation-settings: 'opsz' 24;
}

.back-bottom-imprint,
.byline,
.volume-details
{
    font-size: var(--medium-font-size);

    font-variation-settings: 'opsz' 18;
}

body
{
    font-family:  'Source Serif 4 Variable';
    line-height: 1.2;

    display: flex;

    height: 100vh;

    background-color: #efefef;

    place-content: center;
    align-items: center;
    font-optical-sizing: auto;
    font-variant-numeric: lining-nums;
}

main,
div,
section
{
    display: flex;
}

main
{
    font-weight: var(--font-weight);

    height: var(--page-height);
    padding: var(--cover-bleed);

    color: var(--text-color);
    background-color: var(--background-color);
}

.back-flap,
.front-flap
{
    width: var(--flap-width);
}

.back
{
    flex-direction: column;

    width: var(--page-width);
    padding: var(--primary-spacing) var(--secondary-spacing) var(--secondary-spacing) var(--secondary-spacing);

    justify-content: space-between;
}

.back-top-blurb
{
    flex-direction: column;
}

p
{
    line-height: 1.5;

    margin: 0 0 1.5rem 0;

    font-variant-numeric: oldstyle-nums;
}

.back-bottom
{
    flex-direction: column;
}

.back-bottom-blurb
{
    width: 3in;

    align-self: center;
}

.back-bottom-blurb .blurb
{
    font-style: italic;

    text-align: center;

    color: var(--secondary-text-color);
}

.back-bottom-imprint
{
    flex-direction: row;

    height: 20px;
    margin-top: var(--secondary-spacing);

    justify-content: space-around;
}

.publisher-details
{
    font-weight: 500;

    gap: .25rem;
    align-items: center;
    font-variant-caps: small-caps;

    letter-spacing: 0.05em;
}

.publisher-details svg
{
    width: 20px;
    height: 20px;

    fill: var(--text-color);
}

.isbn
{
    font-family: 'Libre Barcode 128 Text' ;
    font-size: var(--medium-large-font-size);
}

.spine
{
    flex-direction: column;

    width: var(--spine-width);
}

.spine-top
{
    line-height: 1.5;

    flex-direction: column;

    height: var(--primary-spacing);

    align-items: center;
    justify-content: center;
}

.spine .volume_number
{
    color: var(--secondary-text-color);
}

.spine-middle
{
    flex-direction: row;

    height: 100%;

    text-transform: uppercase;

    letter-spacing: 0.1em;

    writing-mode: vertical-rl;
    align-items: center;
    justify-content: space-around;
}

.spine-bottom
{
    flex-direction: column;

    height: var(--primary-spacing);

    align-items: center;
    justify-content: center;
}

.spine-bottom svg
{
    width: 24px;
    height: 24px;

    fill: var(--text-color);
}

.front
{
    flex-direction: column;

    width: var(--page-width);
    padding: var(--primary-spacing) var(--secondary-spacing) var(--secondary-spacing) var(--secondary-spacing);

    justify-content: space-between;
}

.front-top
{
    flex-direction: column;
}

.front-title
{
    flex-direction: column;

    padding-bottom: var(--tertiary-spacing);

    border-bottom: 0 solid var(--secondary-text-color);
}

.front-title .translation_title
{
    line-height: 1;

    margin-top: -.1em;
    /* This is a magic number to compensate for the added leading above the heading. It will vary per font. Check that the top of the heading aligns with the top of the blub on the back cover. */
}

.front-title .translation_subtitle
{
    color: var(--secondary-text-color);
}

hr
{
    width: 100%;

    border: none;
    border-top: 1px solid var(--secondary-text-color);
}

.front-creator
{
    flex-direction: column;

    width: fit-content;
    margin-top: var(--tertiary-spacing);

    align-self: end;
}

.front-creator.left
{
    align-self: start;
}

.byline
{
    font-style: italic;

    color: var(--secondary-text-color);

    padding-left:  1em;
}

.volume-details
{
    flex-direction: column;
}

.volume-details .volume_number
{
    color: var(--secondary-text-color);

    font-variant-caps: all-small-caps;
}

.volume-details .volume_root_title
{
    margin-top: .5rem;

    color: var(--secondary-text-color);

    font-style:  italic;
}

main
{
    background-repeat: no-repeat;
    background-size: var(--page-height);
}

.front
{
    text-shadow: 1px 0 1px var(--background-color),
    0 1px 1px var(--background-color),
    -1px 0 1px var(--background-color),
    0 -1px 1px var(--background-color),
    0 0 1px var(--background-color),
    0 0 2px var(--background-color),
    0 0 4px var(--background-color),
    0 0 8px var(--background-color),
    0 0 16px var(--background-color),
    0 0 24px var(--background-color),
    0 0 1px var(--background-color),
    0 0 2px var(--background-color),
    0 0 4px var(--background-color),
    0 0 8px var(--background-color),
    0 0 16px var(--background-color),
    0 0 24px var(--background-color);
}

hr
{
    box-shadow: 0 0 1px var(--background-color),
    0 0 2px var(--background-color),
    0 0 4px var(--background-color),
    0 0 8px var(--background-color),
    0 0 16px var(--background-color),
    0 0 24px var(--background-color);
}
