@font-face
{
    font-family: 'Source Serif 4 Variable';
    font-weight: 200 900;
    font-style: normal;
    font-stretch: normal;

    src: url('../fonts/SourceSerif4Variable-Roman.ttf') format('truetype');
}

@font-face
{
    font-family: 'Source Serif 4 Variable';
    font-weight: 200 900;
    font-style: italic;
    font-stretch: normal;

    src: url('../fonts/SourceSerif4Variable-Italic.ttf') format('truetype');
}

@font-face
{
    font-family: 'Libre Barcode 128 Text';
    font-weight: 400;
    font-style: normal;

    src: url('../fonts/LibreBarcode128Text-Regular.ttf');
}

*
{
    box-sizing: border-box;
}

:root
{
    font-size: 12px;

    --huge-font-size:  6rem;
    --large-font-size:  3rem;
    --large-font-line-height:  1.2;
    --medium-font-size:  1.5rem;

    --title-font-weight:  350l;

    --primary-spacing:  1in;
    --secondary-spacing:  .6667in;
    --tertiary-spacing:  .333in;
}


.blue{
    --text-color: #e4e1ce;
    --secondary-text-color:  #9db4c2;
    --background-color:  #005685;
}

 .orange       {
    --text-color: #150c07;
    --secondary-text-color:  #873110;
    --background-color:  #e48c07;
}

.red{
    --text-color: #e4e1ce;
    --secondary-text-color:  #b7b199;
    --background-color:  #af2c00;
}

 .white       {
    --text-color: #150c07;
    --secondary-text-color:  #58677c;
    --background-color:  #e4e1ce;
}

.yellow{
    --text-color: #150c07;
    --secondary-text-color:  #73301d;
    --background-color:  #f5d23a;
}

 .green       {
    --text-color: #e4e1ce;
    --secondary-text-color:  #bb9d81;
    --background-color:  #512115;
}

body
{
    font-family: 'Source Serif 4 Variable';
    line-height: 1.2;

    display: flex;

    height: 100vh;

    background-color: #efefef;

    place-content: center;
    align-items: center;
}

main,
div,
section
{
    display: flex;
}

main
{
    height: var(--page-height);
    padding: var(--cover-bleed);

    color: var(--text-color);
    background-color: var(--background-color);
}

.back-flap,
.front-flap
{
    width: var(--flap-width);
}

.back
{
    flex-direction: column;

    width: var(--page-width);
    padding: var(--primary-spacing) var(--secondary-spacing) var(--secondary-spacing) var(--secondary-spacing);

    justify-content: space-between;
}

.back-top-blurb
{
    flex-direction: column;
}

p
{
    line-height: 1.5;

    margin: 0 0 1.5rem 0;
}

.back-bottom
{
    flex-direction: column;
}

.back-bottom-blurb
{
    width: 3in;

    align-self: center;
}

.back-bottom-blurb .blurb
{
    font-style: italic;

    text-align: center;

    color: var(--secondary-text-color);
}

.back-bottom-imprint
{
    font-size: var(--medium-font-size);

    flex-direction: row;

    height: 20px;
    margin-top: var(--secondary-spacing);

    justify-content: space-around;
}

.publisher-details
{
    gap: .25rem;
    align-items: center;
    font-variant-caps: small-caps;
}

svg
{
    width: 20px;
    height: 20px;

    fill: var(--text-color);
}

.publisher-details svg
{
    margin-top: 1px;
}

.isbn
{
    font-family: 'Libre Barcode 128 Text' ;
}

.spine
{
    flex-direction: column;

    width: var(--spine-width);
}

.spine-top
{
    line-height: 1.5;

    flex-direction: column;

    height: var(--primary-spacing);

    align-items: center;
    justify-content: center;
}

.spine .volume_number
{
    color: var(--secondary-text-color);
}

.spine-middle
{
    font-size: var(--medium-font-size);

    flex-direction: row;

    height: 100%;

    writing-mode: vertical-rl;
    align-items: center;
    justify-content: space-around;
}

.spine-bottom
{
    flex-direction: column;

    height: var(--primary-spacing);

    align-items: center;
    justify-content: center;
}

.front
{
    flex-direction: column;

    width: var(--page-width);
    padding: var(--primary-spacing) var(--secondary-spacing) var(--secondary-spacing) var(--secondary-spacing);

    justify-content: space-between;
}

.front-top
{
    flex-direction: column;
}

.front-title
{
    flex-direction: column;

    padding-bottom: var(--tertiary-spacing);

    border-bottom: 0 solid var(--secondary-text-color);
}

.front-title .translation_title
{
    font-size: var(--huge-font-size);
    font-weight: var(--title-font-weight);
    line-height: 1;

    margin-top: -.1em;
    /* This is a magic number to compensate for the added leading above the heading. It will vary per font. Check that the top of the heading aligns with the top of the blub on the back cover. */
}

.front-title .translation_subtitle
{
    font-size: var(--large-font-size);
    font-weight: var(--title-font-weight);

    color: var(--secondary-text-color);
}

hr
{
    width: 100%;

    border: none;
    border-top: 1px solid var(--secondary-text-color);
}

.front-creator
{
    flex-direction: column;

    margin-top: var(--tertiary-spacing);

    width: fit-content;

    align-self: end;
}

.front-creator.left
{
    align-self: start;
}

.byline
{
    font-style: italic;

    font-size: var(--medium-font-size);

    color: var(--secondary-text-color);
}

.front-creator .creator_name
{
    font-size: var(--large-font-size);
}

.volume-details
{
    flex-direction: column;
}

.volume-details .volume_number
{
    font-size: var(--medium-font-size);

    color: var(--secondary-text-color);
}

.volume-details .volume_acronym
{
    font-size: var(--large-font-size);
}

.volume-details .volume_translation_title
{
    font-size: var(--medium-font-size);
}

.volume-details .volume_root_title
{
    font-size: var(--medium-font-size);

    margin-top: .5rem;

    color: var(--secondary-text-color);
}

main
{
    background-repeat: no-repeat;
    background-size: var(--page-height);
}

.front
{
    text-shadow: 1px 0 1px var(--background-color),
    0 1px 1px var(--background-color),
    -1px 0 1px var(--background-color),
    0 -1px 1px var(--background-color),
    0 0 1px var(--background-color),
    0 0 2px var(--background-color),
    0 0 4px var(--background-color),
    0 0 8px var(--background-color),
    0 0 16px var(--background-color),
    0 0 24px var(--background-color),
    0 0 1px var(--background-color),
    0 0 2px var(--background-color),
    0 0 4px var(--background-color),
    0 0 8px var(--background-color),
    0 0 16px var(--background-color),
    0 0 24px var(--background-color);
}

hr
{
    box-shadow: 0 0 1px var(--background-color),
    0 0 2px var(--background-color),
    0 0 4px var(--background-color),
    0 0 8px var(--background-color),
    0 0 16px var(--background-color),
    0 0 24px var(--background-color);
}
