<article class='blurbs'>
<h1>Summary of Contents</h1>
<dl class='blurb-list'>
<dt>
<a class='blurb-link' href='/#dn-silakkhandavagga'>
<span class='blurb-label'>
<span class='translation_name'>The Entire Spectrum of Ethics</span>
<span class='root_name'>Sīlakkhandhavagga</span>
<span class='acronym'></span>
</span>
</a>
</dt>
<dd>
<span class='blurb-content'>The Chapter Containing the Section on Ethics (Sīlakkhandhavagga) is a chapter of 13 discourses. Each of these contains a long passage on the Gradual Training in ethics, meditation, and wisdom. The chapter is named after the first of these sections. The two other known versions of the Dīrghāgama (in Chinese and Sanskrit) also contain a similar chapter. Despite the monastic nature of the central teaching, most of these discourses are presented in dialog with lay people, with a strong emphasis on the relation between the Buddha’s teachings and other contemporary movements.</span>
</dd>
<dt>
<a class='blurb-link' href='/#dn1'>
<span class='blurb-label'>
<span class='translation_name'>The Prime Net</span>
<span class='root_name'>Brahmajālasutta</span>
<span class='acronym'>DN 1</span>
</span>
</a>
</dt>
<dd>
<span class='blurb-content'>While others may praise or criticize the Buddha, they tend to focus on trivial details. The Buddha presents an analysis of 62 kinds of wrong view, seeing through which one becomes detached from meaningless speculations.</span>
</dd>
<dt>
<a class='blurb-link' href='/#dn2'>
<span class='blurb-label'>
<span class='translation_name'>The Fruits of the Ascetic Life</span>
<span class='root_name'>Sāmaññaphalasutta</span>
<span class='acronym'>DN 2</span>
</span>
</a>
</dt>
<dd>
<span class='blurb-content'>The newly crowned King Ajātasattu is disturbed by the violent means by which he achieved the crown. He visits the Buddha to find peace of mind, and asks him about the benefits of spiritual practice. This is one of the greatest literary and spiritual texts of early Buddhism.</span>
</dd>
</dl>
</article>