<article id="colophon" epub:type="colophon">
    <h1 epub:type="title">Colophon</h1>
    <h2>The Translator</h2>
    {{creator_biography | safe}}
    <!--  source from sc-data/additional-info/creator_bio.json -->
    <h2>Creation Process</h2>
    <p>{{creation_process | safe}}</p>
    <h2>The Translation</h2>
    <p>{{text_description | safe}}</p>
    <h2>About SuttaCentral</h2>
    <p>SuttaCentral publishes early Buddhist texts. Since 2005 we have provided root texts in Pali, Chinese, Sanskrit, Tibetan, and other languages, parallels between these texts, and translations in many modern languages. We build on the work of generations
        of scholars, and offer our contribution freely.</p>
    <p>SuttaCentral is driven by volunteer contributions, and in addition we employ professional developers. We offer a sponsorship program for high quality translations from the original languages. Financial support for SuttaCentral is handled by the SuttaCentral
        Development Trust, a charitable trust registered in Australia.</p>
    <h2>About Bilara</h2>
    <p>“Bilara” means “cat” in Pali, and it is the name of our Computer Assisted Translation (CAT) software. Bilara is a web app that enables translators to translate early Buddhist texts into their own language. These translations are published on SuttaCentral
        with the root text and translation side by side.</p>
    <h2>About SuttaCentral Editions</h2>
    <p>The SuttaCentral Editions project makes high quality books from selected Bilara translations. These are published in formats including HTML, EPUB, PDF, and print.</p>
    <p>If you want to print any of our Editions, please let us know and we will help prepare a file to your specifications.
    </p>
</article>
