<section id="halftitlepage" epub:type="halftitlepage">
<div class='front-top'>
<div class='front-title'>
<div class='translation_title' epub:type="title">{{translation_title}}</div>
<div class='translation_subtitle' epub:type="subtitle">{{translation_subtitle}}</div>
</div>
<div class='front-creator'>
<div class='byline'>translated by</div>
<div class='creator_name'>{{creator_name}}</div>
</div>
</div>
<div class='front-bottom'>
<div class='volume-details'>
<div class='volume_number'>{% if volume_number %} Volume {{volume_number}}{% endif %}</div>
<div class='volume_acronym'>{{volume_acronym}}</div>
<div class='volume_translation_title'>{{volume_translation_title}}</div>
<div class='volume_root_title'>{{volume_root_title}}</div>
</div>
</div>
</section>