<section id="imprint" epub:type="imprint">
<p><cite property="dc:title">{{translation_title}}</cite> is a translation of the <span property="dc:title">{{root_title}}</span> by <span property="dc:creator">{{creator_name}}</span>.</p>
<div class="license">
<p property="dc:rights"><a rel="license" href="https://creativecommons.org/publicdomain/zero/1.0/legalcode" target="_blank">Creative Commons Zero (<span class="license-abbreviation">CC0</span>)</a></p>
<p>To the extent possible under law, <span property="dc:creator">{{creator_name}}</span> has waived all copyright and related or neighboring rights to <cite property="dct:title">{{translation_title}}</cite>.</p>
<p>This work is published from <span property="vcard:Country" datatype="dct:ISO3166" content="AU" about="https://suttacentral.net/licensing">Australia</span>.</p>
<aside class='license-statement'>
<p>This translation is an expression of an ancient spiritual text that has been passed down by the Buddhist tradition for the benefit of all sentient beings. It is dedicated to the public domain via Creative Commons Zero (CC0). You are encouraged to copy, reproduce, adapt, alter, or otherwise make use of this translation. The translator respectfully requests that any use be in accordance with the values and principles of the Buddhist community.</p>
</aside>
</div>
<div class="text-metadata" about="https://github.com/suttacentral/bilara-data/tree/master/translation/en/sujato/sutta/dn">
<table>
<tr class='first_published'><td>Web publication date</td><td property="dc:date">{{first_published}}</td></tr>
<tr class='created'><td>This edition</td><td property="dc:date">{{created}}</td></tr>
{% if updated %}
<tr class='updated'><td>Updated</td><td property="dcterms:modified">{{updated}}</td></tr>
{% endif %}
<tr class='publication_type'><td>Publication type</td><td property="dc:format">{{publication_type}}</td></tr>
<tr class='edition_number'><td>Edition</td><td>{{edition_number}}</td></tr>
<tr class='number_of_volumes'><td>Number of volumes</td><td>{{number_of_volumes}}</td></tr>
<tr class='publication_isbn'><td>Publication ISBN</td><td>{{publication_isbn}}</td></tr>
{% if volume %}
<tr class='volume_isbn'><td>Volume ISBN</td><td>{{volume_isbn}}</td></tr>
{% endif %}
<tr class="editions_url"><td>Publication URL</td><td><a href="{{editions_url}}">{{editions_url}}</a></td></tr>
<tr class="source_url"><td>Source URL</td><td><a href="{{source_url}}">{{source_url}}</a></td></tr>
<tr class='publication_number'><td>Publication number</td><td property="dc:identifier">{{publication_number}}</td></tr>
</table>
</div>
<div class='publisher'>
<p>Published by <span class="publisher" property="dc:publisher">SuttaCentral</span></p>
<address>
SuttaCentral,<br>
123 Foo Street,<br>
Tusita,<br>
Australia<br>
</address>
</div>
</section>